* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, sans-serif;
}

.container { 
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}


/* PROMO SECTION */
.promo {
    min-height: 800px;
    background: url('../img/bg/main_bg.png') center center/cover no-repeat;
    padding: 39px 0 62px 0; 
}

.logo .logo_img {
    display: block;
    margin: 0 auto ;
}

.logo .logo_text {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.tittle {
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

h2.tittle {
    margin-top: 30px;
}

.promo .tittle_big {
    overflow: hidden;
    margin-top: 21px;
    color: #fff;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.promo .tittle_big:before,
.promo .tittle_big:after {
  background-color: #efefef;
  content: "";
  display: inline-block;
  height: 4px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.promo .tittle_big:before {
  right: 0.5em;
  margin-left: -50%;
}

.promo .tittle_big:after {
  left: 0.5em;
  margin-right: -50%;
}

.promo .promo_text {
    margin-top: 23px;
    padding: 0 13px;
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    text-align: center; 
}

.promo .promo_text span{
    color: #f9bf3b;
    font-weight: 700;
    text-transform: uppercase;
}

.promo .promo_btn {
    display: block;
    padding: 0 20px;
    margin: 75px auto 0 auto;
    width: 313px;
    height: 72px;
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.promo .promo_btn:hover {
    box-shadow: 5px 5px 0 rgba(145, 144, 144, 0.18);
    margin: 80px auto 0 auto;
}

.promo .more {
    margin-top: 75px;
}

.promo .more .more_text{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.promo .more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}


/* section waiting */
.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header {
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-top: 17px;
}

.waiting .waiting_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 45px;
    gap: 20px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 330px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_description {
    color: #4a4a4a;  
    font-size: 15px;
    font-weight: 300;
    margin-top: 33px;
}



/* Section optimization */
.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}


.optimization .optimization_header {
    text-align: center;
    margin: 0 10px auto 10px;
    color: #299cbd;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin: 0 10px auto 10px;
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 21px;
    font-weight: 300;
}

.optimization .optimization_text span {
    font-weight: 700;
}

/* .optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
} */


/* Section Finish */
.finish {
    min-height: 447px;
    background: url('../img/bg/ability_bg.png') center center/cover no-repeat;
    padding: 86px 0 79px 0;
}

.finish .finish_header {
    color: #efefef;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}


/* section gift */
.gift {
    min-height: 629px;
    background-color: #efefef;
    padding: 87px 0 87px 0;
}

.gift .gift_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.gift .gift_logo :first-child {
    position: relative;
    right: -12px;
}

.gift .gift_text {
    margin-top: 48px;
    font-family: Roboto;
    font-size: 30px;
    line-height: 43px;
    color: #252525;
    text-align: center;
}

.gift .gift_btn {
    display: block;
    margin: 55px auto 0 auto;
    padding: 0 26px;
    width: 315px;
    height: 73px;
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    color: #fff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    /* box-shadow:  -4px -4px 0 rgba(0,0,0, 0.18); */
}

.gift .gift_btn:hover {
    box-shadow: 4px 4px 0 rgba(0,0,0, 0.18);
    margin: 60px auto 0 auto;
}


/* Section first-webinar */
.first {
    min-height: 515px;
    background-color: #fff;
    padding: 82px 0 65px 0;
}

.first .first_img {
    display: block;
    margin: 0 auto;
}

.first .first_info {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 400;
    color: #252525;
    text-align: center;
    text-transform: uppercase;
}

.first .first_date {
    margin-top: 25px;
    font-size: 36px;
    font-weight: 900;
    color: #299cbd;
    text-align: center;
    text-transform: uppercase;
}

.first .first_sign {
    margin-top: 25px;
    font-size: 23px;
    font-weight: 500;
    color: #4a4a4a;
    text-align: center;
}


/* footer */
.footer {
    min-height: 168px;
    padding: 61px 0 67px 0;
    background-color: #252525;
}

.footer .footer_link {
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
}

.footer .footer_link a {
    color: #888888;
}

.footer .footer_link a:hover {
    color: white;
}

.footer .footer_call {
    font-size: 15px;
    line-height: 21px;
    color: #888888;
    text-align: center;
}